
@font-face{
    font-family: estedad-black;
    src: url(../fonts/Estedad-Black.ttf);

}
@font-face{
    font-family: estedad-bold;
    src: url(../fonts/Estedad-Bold.ttf);
    
}
@font-face{
    font-family: estedad-extrabold;
    src: url(../fonts/Estedad-ExtraBold.ttf);
    
}
@font-face{
    font-family: estedad-extralight;
    src: url(../fonts/Estedad-ExtraLight.ttf);
    
}
@font-face{
    font-family: estedad-light;
    src: url(../fonts/Estedad-Light.ttf);
    
}
@font-face{
    font-family:estedad-medium;
    src: url(../fonts/Estedad-Medium.ttf);
    
}
@font-face{
    font-family:estedad-regular;
    src: url(../fonts/Estedad-Regular.ttf);
    
}
@font-face{
    font-family:estedad-semibold;
    src: url(../fonts/Estedad-SemiBold.ttf);
    
}
@font-face{
    font-family:estedad-thin;
    src: url(../fonts/Estedad-Thin.ttf);
    
}
@font-face {
    font-family:samim-regular;
    src: url(../fonts/Samim-FD.ttf);
}
@font-face {
    font-family:samim-semibold;
    src: url(../fonts/Samim-Bold-FD.ttf);
}